/************************************************************
 * reset
 ************************************************************/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

html {
	overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6, td, input {
	font-size: 100%;
	font-weight: normal;
}

ol, ul {
	list-style: none;
}

fieldset, img {
	border: 0;
}

caption, th {
	text-align: left;
}

address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}

a img, li img {
	vertical-align: bottom;
}

/* html5 */
article, aside, figure, footer, header, hgroup, nav, section {
	display: block;
	margin: 0;
	padding: 0;
}

/************************************************************
 * general
 ************************************************************/

/* link */
a {
	color: #058dc7;
	text-decoration: none;
	outline: none;
}
a: hover, a: focus, a: active {
	text-decoration: underline;
}

/* clearfix */
.clearfix {
	zoom: 1;
}
.clearfix: after {
	content: "";
	display: block;
	clear: both;
}

/************************************************************
 * body
 ************************************************************/

body {
	color: #555;
	font-size: 14px;
	font-family: sans-serif;
	background: #f5f5f5;
}

h1 {
	color: #999;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
}

ul {
	width: 800px;
	margin: 0 auto;
	padding: 40px 40px 30px 30px;
	overflow: hidden;
	clear: both;
	background: #fff;
	border: solid 1px #ccc;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 1120px) {
	ul {
		width: 1120px;
	}
}
@media screen and (max-width: 640px) {
	ul {
		width: 310px;
		padding: 5px 5px 0 0;
		border: none;
	}
}

li {
	float: left;
	margin: 0 0 10px 10px;
}
@media screen and (max-width: 640px) {
	li {
		margin: 0 0 5px 5px;
	}
}
li img {
	border-radius: 4px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
li img:hover {
	opacity:0.5;
	filter:alpha(opacity=50);
	-ms-filter:"alpha(opacity=50)";
	zoom:1;
}
